/*==================  GOOGLE MAP  ======================*/
/*
* @section Variables
*/
/*
* @subsection Fonts
*/
/*
* @subsection Colors
*/
/*
* @subsection Screen sizes
*/
/*
* @subsection Border radius
*/
/*
* @subsection Shadows
*/
.map_model {
  height: 250px;
  color: #000;
}
.map_model img {
  max-width: none !important;
}
@media (min-width: 768px) {
  .map_model {
    height: 400px;
  }
}
@media (min-width: 992px) {
  .map_model {
    height: 616px;
  }
}
.map_locations {
  display: none;
}